/* hah om sai ram om bhaskaraya namaha om namaha sivayaa */

body {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    background-image: radial-gradient(circle, #e0e0e0 1px, transparent 1px);
    background-size: 25px 25px;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(0.9);
      opacity: 0.6;
    }
    50% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(0.9);
      opacity: 0.6;
    }
  }
  
  .pulse-dot {
    width: 12px;
    height: 12px;
    background-color: #3182CE;
    border-radius: 50%;
    animation: pulse 2s infinite ease-in-out;
    margin: 0 5px;
  }
  